<ul>
	<li><%= link_to("Users", admin_users_path()) %></li>
	<li><%= link_to("Feeds", admin_feeds_path()) %></li>
	<li><%= link_to("Feed Types", admin_feed_types_path()) %></li>
	<li><%= link_to("All Authors", admin_author_feeds_path()) %></li>
	<li><%= link_to("Recent Authors", admin_author_feeds_recent_path) %></li>
	<li><%= link_to("Settings", admin_settings_path) %></li>
</ul>