<% content_for :sidebar do %>
<li>
	<h2>Top Authors</h2>
	<ul>
		<% @top_authors.each do |author| %>
		<li><a href="<%= user_url(author.name) %>"><%= author.name %>: <%= author.points %></a></li>
		<% end %>
	</ul>
</li>
<% end %>
<% @recent_posts.each do |post| %>
<div class="post">
	<p class="date"><%= post.posted_date %><b><%= post.author_feed.name %></b></p>
	<h2 class="title"><a href="<%= post.link %>"><%= post.title %></a></h2>
	<div class="entry">
		<%= post.data %>
	</div>
</div>
<% end %>