<% content_for :sidebar do %>
<li>
	<h2>Top Authors</h2>
	<ul>
		<% @top_authors.each do |author| %>
		<li><a href="<%= user_url(author.name) %>"><%= author.name %>: <%= author.points %></a></li>
		<% end %>
	</ul>
</li>
<% end %>
<% @feeds.sort{|a, b| b.posts.recent.count <=> a.posts.recent.count}.each do |feed| %>
<div class="post">
	<p class="date" title="<%= h feed.name %>"><%= truncate(feed.name, 15) %><b><%= feed.posts.recent.count %></b></p>
	<h2 class="title"><a href="<%= feed_url(feed.id) %>"><%= h feed.name %></a></h2>
	<div class="entry">
		Summary Information Here
	</div>
</div>
<% end %>