<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Interlude
Version    : 1.0
Released   : 20080903
Description: A multi-column, fixed-width design for 800x600 resolutions.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>The Incentosaur</title>
<meta name="keywords" content="Rails Development Incentives" />
<meta name="description" content="" />
<%= stylesheet_link_tag 'default' %>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#">The Incentosaur</a></h1>
		<p><a href="#">Because I'm Just Better People</a></p>
	</div>
	<%= render :partial => '/layouts/menu' %>
</div>
<hr />
<!-- end header -->
<!-- start page -->
<div id="wrapper">
	<div id="page">
		<!-- start content -->
		<div id="content">
			<%= yield %>
		</div>
		<!-- end content -->
		<!-- start sidebar -->
		<div id="sidebar">
			<ul>
			<%= yield :sidebar %>
			</ul>
		</div>
		<!-- end sidebar -->
		<br style="clear: both;" />
	</div>
</div>
<!-- end page -->
<!-- 
<%= render :partial => '/layouts/footer' %>
-->
<%= Setting.get(Setting::ANALYTICS_BLOCK)%>
</body>
</html>
